:root{
    --blue-title: #b8b9d1;
    --blue-description: #adaec3;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-bc{
    background: url(assets/home/background-home-desktop.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.destination-bc{
    background: url(assets/destination/background-destination-desktop.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.crew-bc{
    background: url(assets/crew/background-crew-desktop.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.technology-bc{
    background: url(assets/technology/background-technology-desktop.jpg) no-repeat center center fixed; 
    background-size: cover;
    
}

li{
    list-style-type: none;
}


/* ------- Header GLOBAL ------- */


body{
    min-height: 100vh;
    font-family: "Barlow", sans-serif;
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left: 50px;
}

nav{
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    float: right;
    width: 57em;
    font-size: 18.5px;
    letter-spacing: 3px;
    backdrop-filter: blur(20px);
    background-color: rgba(71, 71, 71, 0.13);
    z-index: 0;
}



.line-header{
    transform: translate(50px);
    width: 47em;
    height: 2px;
    background-color: rgb(44, 44, 44);
    left: 10em;
    z-index: 1;
}



.nav-bar{
    display: flex;
    flex-direction: row;
    margin-left: 10em;
    gap: 50px;
}

.nav-bar a{
    color: rgb(216, 216, 216);
}

.nav-bar li{
    padding: 40px 0;
    transition: all 0.1s;
    border-bottom: 0px solid transparent;
}

.active-hover{
    border-bottom: 3px solid white;
}



.number-list{
    color: white;
    margin-right: 5px;
    font-size: 23px;
}


/* header part and mobile part */

#hamburger-icon{
    display: none;
    cursor: pointer;
}

.mobile-nav-container{
    position: relative;
    position: fixed;
    top: 0;
    right: -20em;
    backdrop-filter: blur(20px);
    width: 15em;
    height: 100vh;
    transition: all 0.3s;
    z-index: 99;
}

.mobile-nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-left: 50px; */
    margin-top: 5em;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;

    
}

#icon-close{
    position: absolute;
    right: 30px;
    top: 35px;
    width: 30px;
    cursor: pointer;
}


.mobile-nav a{
    color: white;
}

.mobile-nav-container{
    display: none;
}

.mobile-nav-container.is-active{
    right: 0;
}

.number-step{
    color: rgb(71, 69, 69);
    margin-right: 12px;
    font-size: 27px;
    font-weight: bold;
}

.intro-step{
    margin-bottom: 4em;
    font-size: 25px;
    letter-spacing: 4px;
    font-family: 'Barlow Condensed', sans-serif;
}

.not-active{
    transition: all 0.1s;
}

.not-active:hover{
    border-bottom: 3px solid rgba(163, 200, 255, 0.911);
}

/* ------- Home Page -------- */

/* Left Space, Introduction to space */

.home-container{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 14em;
    margin-left: 25em;
    margin-right: 25em;
}

.intro-container {
    opacity: 0;
    animation: text-showing 1.2s ease-out 0.2s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.intro-container p:nth-child(1){
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: var(--blue-title);
    letter-spacing: 5px;
}

.intro-container p:nth-child(2){
    font-size: 10em;
    font-family: 'Bellefair', sans-serif;
    color: white;
}

.intro-container p:nth-child(3){
    font-size: 19px;
    font-weight: 500;
    line-height: 35px;
    color: var(--blue-description);
    width: 24.5em;
}


/* Button to explore */



.btn-explore {
    z-index: 1;
    position: relative;
    display: flex;
    animation: btn-showing 1s ease-out 0.8s;
    transition: all 200ms;
    animation-fill-mode: both;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    background-color: white;
    color: black;
    font-size: 33px;
    border-radius: 50%;
    font-family: 'Bellefair', sans-serif;
    letter-spacing: 3px;
    margin-top: 3.4em;
  }

.btn-explore::after{
    content: '';
    position: absolute;
    width: 270px;
    height: 270px;
    background-color: white;
    z-index: -1;
    border-radius: 50%;
    opacity: 0.2;
    transition: all 1s ease;
}

.btn-explore:hover::after{
    transform: scale(1.4);
}


@keyframes text-showing{
    0%{
        transform: translateX(-20%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes btn-showing {
    0% {
      transform: translateX(40%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
      cursor: pointer;
    }
  }


/* ---------- Destination Page ------------ */


.destination-bc{
    background: url(assets/destination/background-destination-desktop.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.destination-container{
    width: 68em;
    margin: 5em auto 5em auto;
}

.seperation-line-planet{
    width: 100%;
    height: 1px;
    background-color: rgb(71, 69, 69);
}


.planet-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    gap: 10em;
}

.planet-choice ul{
    display: flex;
    gap: 20px;
    font-size: 16px;
    letter-spacing: 3px;
    color: rgb(216, 216, 216);
}

.planet-choice li{
    padding: 10px 0;
    cursor: pointer;
    font-family: 'Barlow Condensed';

}

.planet-info{
    animation: info-planet-showing 1s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 28em; */
}


.planet-name{
    font-size: 6em;
    font-family: "Bellefair", sans-serif;
    animation-timing-function: ease;
    text-transform: uppercase;
}

.planet-desc{
    color: rgb(216, 216, 216);
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.planet-estimation{
    display: flex;
    gap: 5em;
}

.title-estimation{
    font-size: 12.4px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    color: rgb(187, 185, 185);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.desc-estimation{
    font-size: 25px;
    font-family: 'Bellefair', sans-serif;
    text-transform: uppercase;
}

.planet-img{
    animation: planet-showing 1.5s ease, planet-rotation 150s linear infinite

}


/* ---------- Crew Page ------------ */

.crew-container{
    width: 68em;
    margin: 5em auto 0 auto;
}

.crew-info{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    gap: 12em;
}

.crew-job{
    font-size: 2em;
    font-family: 'Bellefair', sans-serif;
    text-transform: uppercase;
    color: rgb(105, 105, 105)
}

.crew-name{
    font-size: 3.3em;
    font-family: 'Bellefair', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 5px;
    white-space: nowrap;
}

.crew-desc{
    font-size: 17px;
    color: var(--blue-description);
    line-height: 1.7;
    width: 24.5em;
}

.crew-info-container{
    display: flex;
    gap: 5em;
    justify-content: space-between;
}

.change-crew{
    display: flex;
    position: absolute;
    bottom: 50px;
    gap: 1.3em;
}

.btn-change-crew{
    display: block;
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    cursor: pointer;
}

.btn-active{
    background-color: white;
}


.crew-img{
    position: absolute;
    bottom: 0;
    max-width: 150%;
}

.img-crew-container{
    display: flex;
    justify-content: center;
    width: 25em;
    height: 14cm;
    /* margin-top: 70px; */
    /* border: 2px solid red; */
}



@keyframes planet-showing{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes info-planet-showing{
    0%{
        opacity: 0;
        transform: translate(50px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes planet-rotation{

    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}



/* ---------- Technology Page ------------ */


.technology-info-container{
    display: flex;
    align-items: center;
    gap: 5em;
    /* justify-content: space-between; */
}

.technology-title{
    font-size: 1em;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #adaec3d2;
    letter-spacing: 2px;
}

.technology-rocket{
    font-size: 3.3em;
    font-family: 'Bellefair', sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    white-space: nowrap;
}

.technology-desc{
    font-size: 17px;
    color: var(--blue-description);
    line-height: 1.7;
    width: 24.5em;
}

.rocket-choice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


.rocket-choice span{
    color: black;
    font-size: 32px;
    font-family: 'Bellefair', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(73, 72, 72);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.rocket-choice span.active{
    background-color: white;
    color: black;
    border: none;
}   





@media screen and (max-width: 1672px) {
    .home-container{
        margin-left: 10em;
        margin-right: 10em;
    }
    
}


@media screen and (max-width: 1472px) and (min-width: 1182px) {
    nav{
        width: 120em;
    }
    
}


@media screen and (max-width: 1182px) {
    

    header{
        margin-top: 0;
    }

    .line-header{
        display: none;
    }

    .home-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    nav{
        width: 33em;
        font-size: 15px;
    }

    .nav-bar{
        margin-left: 3em;
    }
    
    .number-list{
        display: none;
    }

    /*--------- Home Responsive ----------- */

    .home-bc{
        background-image: url(assets/home/background-home-tablet.jpg);
    }

    .home-container{
        margin-top: 5em;
        justify-content: center;
    }

    .intro-container{
        justify-content: center;
        align-items: center;
    }

    .intro-container p:nth-child(1){
        font-size: 21px;
    }

    .intro-container p:nth-child(3){
        font-size: 18px;
        width: 33em;
    }

    .btn-explore{
        width: 240px;
        height: 240px;
        font-size: 25px;
    }

    .btn-explore::after{
        content: '';
        width: 240px;
        height: 240px;
    }
    

    /*--------- Destination Responsive ----------- */

    .destination-bc{
        background-image: url(assets/destination/background-destination-tablet.jpg);
    }

    .destination-container{
        width: 90%;
    }


    .planet-info-container{
        flex-direction: column;
        gap: 50px;
        margin-left: 0;
    }

    .planet-info{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /*--------- Crew Responsive ----------- */

    .crew-bc{
        background-image: url(assets/crew/background-crew-tablet.jpg);
    }
    
    .crew-container{
        width: 90%;
    }
    
    .crew-info-container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .crew-info{
        flex-direction: column-reverse;
        gap: 35px;
        margin-top: 0;
        margin-bottom: 50px;
        align-items: center;
        text-align: center;
    }


    .crew-name{
        white-space: normal;
        font-size: 2.5em;
    }
    
    .crew-desc{
        width: 100%;
    }

    .crew-job{
        font-size: 1.7em;
    }

    .change-crew{
        position: relative;
    }
    
}

@media screen and (max-width: 716px) {

    .mobile-nav-container{
        display: block;
    }

    header{
        margin: 0 30px;
    }

    .img-logo{
        width: 40px;
    }

    #hamburger-icon{
        display: block;
    }

    /*--------- Home Responsive ----------- */

    .home-bc{
        background-color: url(assets/home/background-home-mobile.jpg);
    }

    .intro-container{
        gap: 30px;
    }

    .nav-bar{
        display: none;
    }

    .intro-container p:nth-child(1){
        font-size: 19px;
    }

    .intro-container p:nth-child(2){
        font-size:7em;
    }

    .intro-container p:nth-child(3){
        font-size: 20px;
        width: 100%
    }

    .btn-explore{
        width: 200px;
        height: 200px;
        font-size: 25px;
        margin-top: 30px;
    }

    .btn-explore::after{
        content: '';
        width: 200px;
        height: 200px;
    }

    /*--------- Destination Responsive ----------- */

    .planet-img{
        width: 20em;
    }

    .intro-step{
       text-align: center;
    }

    .planet-name{
        font-size: 5.5em;
    }

    /*--------- Crew Responsive ----------- */

    .crew-bc{
        background-image: url(assets/crew/background-crew-mobile.jpg);
    }

    .img-crew-container{
        transform: scale(0.6);

    }

    .crew-name{
        font-size: 2em;
    }

    .change-crew{
        bottom: 0;
    }
    

    .crew-info-container{
        gap: 0;
    }
    

    
}